.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.actionsButton {
  display: flex;
  justify-content: end;
}

.actionsButton button {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.actionsButton button:hover {
  color: white;
  background-color: red;
}

.dashboardComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid black;
  width: 80%;
}

.dashboardButtons {
  border: none;
  background-color: transparent;
  margin-bottom: 20px;
}

.dashboardButtons input {
  width: 150px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.editButton:hover {
  color: white;
  background-color: blue;
}

.deleteButton:hover {
  color: white;
  background-color: red;
}
